---
---

@import "{{ site.theme }}";

.blinking{
    animation:blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%{     color: #f00;    }
    50%{    color: #a00;  }
    100%{   color: #f00;    }
}


.wrapCode {
  div {
    pre {
      white-space: -moz-pre-wrap; 
      white-space: -o-pre-wrap;
      white-space: pre-wrap;
    }
  }
}
